@use '../login/login.component.scss';

#btnIniciarSession{
    cursor:pointer;
}

.alert-error{
    background: #ffdddd;
    border-bottom: 2px solid red;
    color: red;
}

.alert-succes{
    background: #e3ffdd;
  border-bottom: 2px solid green;
  color: green;
  

}