.main_container{
  background: url('https://online.naranjax.com/assets/images/prelogin/background.svg') center center no-repeat fixed;
  background-size: cover;
  height: 100vh;
  overflow: hidden;
  min-height: 100vh;
  position: relative;
 }

.shadow-background{
    background: linear-gradient(180deg,rgba(255,255,255,0) 0%,rgba(255,255,255,0) 0%,black 100%);
    bottom: 0;
    height: 50%;
  
  position: fixed;
  width: 100%;
}

.home-btn{
  width: auto; height: auto;
  font-size: 3.4rem;
  position: absolute;
  color: wheat;
  top:10px;
  left:10px;
}