


<!-- GRID TIENDA -->
<div class="tienda">
  <h3 class="ult-lanzamientos">Ultimos lanzamientos</h3>

  <section class="grid__tienda">
    
    <div class="grid__tienda--producto" *ngFor="let p of lastestProducts" [routerLink]="['/detail-product']" [queryParams]="{id:p.id}">

      <img src={{p.thumbnail_image}} alt="image product"/>

      <div class="info-product">
        <a class="link-product" [routerLink]="['/detail-product']" [queryParams]="{id:p.id}" href="" >
          <pre class="subtitle-product">{{ p.subtitle }}</pre>

          <span class="title-product">{{ p.title }}</span>
        </a>

        <span class="price-product">{{ p.price | currency }} </span>
        <span class="cuota-product">3 cuotas de $11.999 sin interés</span>
      </div>

      <div class="container-galery-preview">
        <img *ngFor="let image of p.detail_images" src="{{image}}" style="width: 50px !important;" alt="">
       </div> 

      
    </div>
  </section>
</div>

