@use '../../../assets/sass/mixins.scss' as m;
@use '../../../assets/sass/variables.scss' as v;

.tienda{
    width: 100%;
    margin: 0 auto;

    h3{ 
        font-size: 2em;
        text-align: center;
        text-transform: uppercase;        
    }

    padding:20px 0;
}

.grid__tienda{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    cursor: pointer;

}

.grid__tienda--producto{
    width: 300px;
    display: flex;
    flex-direction: column;
    font-family: v.$sec;
    

    img{
        width: 100%;
    }

    &:hover{
        box-shadow: #878787 0px 0px 5px 0.5px

    }

}


.info-product{
    margin-top: 15px;
    text-align: start; 
    padding: 0 10px;

}


.title-product{
    margin: 0 0 6px 0;
    font-size: 1rem;
    display: block;
    text-transform:uppercase;

 
}

.subtitle-product{
    color: #B5B5B5;
}

.price-product{
    margin: 0 10px 0 0;
    display: block;

}

.cuota-product{
    font-size: 14px;

}

.link-product{
    color:#1E1B17;
    cursor:pointer;
    &:hover{
        text-decoration: underline;
        
    }

}


.container-galery-preview{
    display: flex;
    justify-content: center;
    column-gap: 15px;
    padding:  0 10px;
}