@use '../../../assets/sass/mixins.scss' as m;
@use '../../../assets/sass/variables.scss' as v;

.tienda{
    width: 100%;
    margin: 0 auto;

    h2{ 
        font-size: 2em;
        margin: 30px 0;
    }

    padding:20px 0;
}


.grid__tienda{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 20px;
    cursor: pointer;

}

.grid__tienda--producto{
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    background-size:contain;
    background-position: top;
    background-repeat: no-repeat;
    font-family: v.$sec;

    img{
        width: 100%;
    }

    &:hover{
        box-shadow: #353535 1px 1px 1px 1px;

    }

}


.info-product{
    margin-top: 15px;
    text-align: start;
}


.title-product{
    margin: 0 0 6px 0;
    font-size: 1rem;
    display: block;
 
}

.subtitle-product{
    color: #B5B5B5;
}

.price-product{
    margin: 0 10px 0 0;    
}

.cuota-product{
    font-size: 14px;

}

.link-product{
    color:#1E1B17;
    cursor:pointer;
    &:hover{
        text-decoration: underline;
        
    }

}



.block__inputs--tienda{
    display: flex;
    row-gap: 10px;
    margin-top: 15px;
    align-items: center;
    column-gap: 10px;
    justify-content: center;

    input{ 
        font-size: 1em;
        padding: 5px 30px;
        border: none;
        color: white;
        border-radius:25px;
        cursor: pointer;
        font-weight: 300;
        background: v.$rosa-botones;
    }

    i{
        font-size: 1em;
        padding: 5px 10px;
        color: #353535;
        background: #D4D4D4;
        border-radius: 20px;
    }


}

