@use '../../../assets/sass/mixins.scss' as m;
@use '../../../assets/sass/variables.scss' as v;

.product-selected{
    font-size: 14px;
    text-align: center;

}

.selected-size{
    margin: 0 10px;

}

.selected-item-stock{
    position: relative;
    .circle-stock{
        position: absolute;
        font-size: 1.2rem;
        top: -1px;
        right: -25px;
    }
}

.container-buttons {
    display: flex;
    align-items: center;
    justify-content: space-around;
    column-gap: 10px;
}

.btn-add-cart{
    width: 70%;
    padding: 10px 0;
    border-color: #100e0c;
    background: #1E1B17;
    text-transform: uppercase;
    font-weight: 500;
    color: white;
    border-radius: 4px;
    cursor: pointer;

    &:hover{
      background: #100e0c;
    }
}


.btn-back-home{
    color:#333;
    font-size: 14px;
    font-weight: 600;
    padding: 5px 10px;

}

.btn-disabled{
    background: rgb(99, 99, 99);
    border-color: #100e0c00 ;
}

.overlay-buy-product{
    width: 100vw;
    height: 100vh;
    display: grid;
    place-items: center;
    position: absolute;
    top: 0;
    left: 0;
    background: #00000046;
    backdrop-filter:blur(5px);
    
    
    .container-data{
        width: 400px;
        height: 250px;
        background: rgb(255, 255, 255);
        padding: 10px;
        border-radius: 15px;
    }
}

.container-lef-rig{
    display: flex;

}

.container-text{

}

.container-image{
    padding:5px;

    img{
        width:100%;
        
    }
}
