<hr style="margin: 20px 0; " />

<div class="product-selected">

  <p>
    <span class="selected-item">

      <span class="selected-color"
        >Color: <b>{{ swatchColor.color_arg }} </b>
      </span>

      <span class="selected-size">
        Talle:
        
          <span *ngIf="!swatchSize; else spanInfo">
             <b>No seleccionado</b>
          </span>
        

        <ng-template #spanInfo>
          <span>
            <b>
              {{ swatchSize.size_us }} US 
            </b>
              (equivale a
              {{ swatchSize.size_arg }} Arg)
          </span>
        </ng-template>
      </span>
    </span>

    <span 
      class="selected-item-stock"
      *ngIf="swatchSize"
      >
      
      <span 
          *ngIf="swatchSize.stock > 0 else stockOut"
          [ngStyle]=" {color: swatchSize.stock > 0 ? 'green' : 'red'} "
        >
          Disponible

        </span>

      <ng-template #stockOut>
        <span 
        [ngStyle]=" {color: swatchSize.stock > 0 ? 'green' : 'red'} "
        > 
          Agotado
        </span>
      </ng-template>
      
      <mat-icon class="circle-stock" [ngStyle]=" {color: swatchSize.stock > 0 ? 'green' : 'red'} ">fiber_manual_record</mat-icon>
    
    </span>
       
  </p>
</div>

<hr style="margin: 20px 0;" />

<div class="container-buttons" *ngIf="swatchSize">
  <input type="number" name="productModelId" id="idProductModel" hidden value="" >

<input type="button" value="elije un talle" [value]="swatchSize.stock === 0 ? 'out stock' : 'Agregar al carrito'" class="btn-add-cart"
    [disabled]="swatchSize.stock === 0 ? true : false"
    [ngClass]="swatchSize.stock === 0 ? 'btn-disabled' : ''"
    (click)="addProductCart()"
  >

  <a routerLink="/" class="btn-back-home">
    Volver atras
  </a>

</div>


<div class="overlay-buy-product" *ngIf="productBuy" >
  <div class="container-data">
    <h4>PRODUCTO AGREGADO CON EXITO</h4>
    <div class="container-lef-rig">
      <div class="container-text container-50">
        <span>{{productBuy.title}}</span> <br>
        <span>Talle: <b>{{productBuy.size_us}}US</b> </span> <br>
        <span>Color: <b>{{productBuy.color_arg}}</b> </span> <br>
      </div>
      <div class="container-image container-50">
        <img src="https://drifters.com.ar/uploads/product_image/25754/650w_DriftersPDP_DC8903-301_Shot1.jpg" alt="">
  
      </div>

    </div>
  </div>
</div>
