@use "../../../assets/sass/variables.scss" as v;
@use "../../../assets/sass/mixins.scss" as m;

.cart_sidebar {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 999;
  background: rgb(241, 241, 241);
  right: 0;
  top: 0;
  transition: all ease 0.5s;
  scroll-behavior: smooth;
  overflow:hidden scroll;

  @include m.tablet{
    width:400px;
  }

  &::-webkit-scrollbar{
    width: 8px ;
  }

  &::-webkit-scrollbar-thumb {
    background: #333;
    border: 2px solid #ffffff;
    border-radius: 10px;

  }
}

.cart-header{
  padding: 10px 10px;
  display:flex;
  justify-content: space-between;
  align-items: center;
  background: #e4e4e4;
  margin: 0 0 10px 0;

  h2{
    color:#2d2d31;
    
  }

  .fa-xmark {
    font-size: 2rem;
    cursor: pointer;
    color:#2d2d31;
  }
  
}



.items_cart {
  display: flex;
  flex-direction: column;
  gap: 20px 0;
  padding: 0 20px;
}


.item {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  border: 1px solid gray;
  border-radius: 15px;
  padding: 15px;
  transition: all .1s ease-out;
}

.alert-remove-item{
  width: 100%;
  
  position: absolute;
  padding: 15px;
    border: 1px solid gray;
    border-radius: 15px;
    span{

      width: 150px;
      display: inline-block;
      margin: 0 15px 0 0;
      @include m.tablet{
        
        text-overflow:ellipsis;
        white-space: nowrap;
        overflow: hidden;
      }
    }

    button{
      padding: 4px 10px;
      margin-right: 10px;
    }

    @include m.tablet{
      max-width: 310px;
    }
}

.info_item {
  
  width: 150px;
  transition:all .5s;

}

.title_item {
  font-size: 1rem;
  margin: 0 0 3px 0;
}

.subtitle_item {
  font-size: 0.8rem;
  margin-bottom: 10px;
  color: gray;
}

.price_item {
  font-size: 0.8rem;
}

.delete_item {
  margin: 10px 0 0 0;
  display: block;
  font-size: 0.8rem;
  border: none;
  background: black;
  color: white;
  padding: 5px 20px;
  cursor: pointer;

}

.container_img-cart {
  width: 150px;
  height: 100px;
  transition:all .5s;
}

.container_img-cart img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
}




.overlay{
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(17,17,17);
  opacity:.7;
  transition: all 1s;
  z-index: 10;
}

