@use '../../../assets/sass/mixins.scss' as m;
@use '../../../assets/sass/variables.scss' as v;

/*HEADER*/

header{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #ffffff;
  transition: all .5s;
  top: 0;
  left: 0; 

  @include m.tablet {
    padding: 20px 0;
    justify-content: space-between;
  }

  @include m.dark{
    background: #212121;
  }

}

.fijar__header {
  box-shadow: 1px 1px 5px black;
}

.body-scroll {
  padding-top: 80px;
  @include m.tablet {
    padding-top: 90px;
  }
}

.header__logo {
  height: 100%;
  width: 150px;
}

.header__logo img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.icon{
  cursor: pointer;
}

.search-bar{

 /* From uiverse.io by @satyamchaudharydev */
/* this button is inspired by -- whatsapp input */
/* == type to see fully interactive and click the close buttom to remove the text  == */
  color: #000;
  margin: 0 15px 0 0;

  .inputGroup {
    position: relative;

  }
  
  .inputGroup input {
    font-size: 100%;
    padding: 0 30px 0 10px;
    outline: none;
    border: solid thin transparent;
    background-color: #eceff1;
    width: 100px;
    line-height: 32px;
    height: 32px;
    transition: all ease .5s;

    &::placeholder{
      color: #000;
    }

    @include m.portatil{
      width: 200px;
    }



  }
  
  .inputGroup label {
    font-size: 100%;
    position: absolute;
    left: 0;
    padding: 0.8em;
    margin-left: 0.5em;
    pointer-events: none;
    transition: all 0.3s ease;
    color: rgb(100, 100, 100);
  }
  
  .inputGroup :is(input:focus, input:valid)~label {
    transform: translateY(-50%) scale(.9);
    margin: 0em;
    margin-left: 1.3em;
    padding: 0.4em;
    background-color: #e8e8e8;
  }
  
  .inputGroup :is(input:focus, input:valid) {
    border-color: rgb(150, 150, 200);
    &::placeholder{
      opacity: 0;
    }
  }




  /* style for both icons -- search,close */
  .icon svg {
    /* display: block; */
    color: #111;
    transition: 0.3s cubic-bezier(.4,0,.2,1);
    height: 18px;
  }

  /* search icon */
  .icon {
    transition: 0.3s cubic-bezier(.4,0,.2,1);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 7px;
    right: 10px;

  }

}

.icon-user{
  margin: 0 10px 0 0;
}

.icon-favorites{
  margin: 0 10px 0 0;
}

.icon_cart {  
  @include m.dark{
    
  }
}



.icon_log-out {
  font-size: 1.2rem;
  color: #00758D;
  @include m.dark{
    color: v.$rosa-botones;
    
  }
}

  .container-display-user{
    display: grid;
    place-items: center;

  }

.container-admin{
  width: max-content;

  button {
    appearance: none;
    background-color: #ff7373e0;
    border:none;
    border-radius: 6px;
    color: #24292E;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    list-style: none;
    padding: 6px 16px;
    position: relative;
    transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
    word-wrap: break-word;

    &:hover{
      background-color:#fc8484e0;
      text-decoration: none;
      transition-duration: 0.1s; 
    }
   }

   button:disabled {
    background-color: #FAFBFC;
    border-color: rgba(27, 31, 35, 0.15);
    color: #959DA5;
    cursor: default;
   }
   
   button:active {
    background-color: #EDEFF2;
    box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
    transition: none 0s;
   }
   
   button:focus {
    outline: 1px transparent;
   }
   
   button:before {
    display: none;
  }
}


.container_user {
  display: flex;
  align-items: center;
  padding: 5px 20px;
  font-size: 0.8rem;
  width: max-content;

  @include m.dark{
  border: 1px solid #e6e6e6;
    p{
      color: white;
    }
    
  }

  .username {
    margin: 0 5px 0 0;
  }
}



.header__inputs {
  font-size: 12px;
  font-weight: 400;
  display: none;

  @include m.tablet {
    display: flex;
    justify-content: flex-end;
    column-gap: 10px;
    align-items:center;
  }
}

.btns-login{
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.iniciar {
  a{
    
  }
  width: auto; height: auto;
  transition: 0.2s background;
  color: #242424;  
  font-size: 30px;
  overflow:visible;

  &:hover {

  }
  
}

.registrarse {

    --primary-color: #645bff;
    --secondary-color: #fff;
    --hover-color: #111;
    --arrow-width: 10px;
    --arrow-stroke: 2px;
    box-sizing: border-box;
    border: 0;
    border-radius: 20px;
    color: var(--secondary-color);
    padding: 1em 1.8em;
    background: var(--primary-color);
    display: flex;
    transition: 0.2s background;
    align-items: center;
    gap: 0.6em;
    font-weight: bold;
  
  
  .arrow-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .arrow {
    margin-top: 1px;
    width: var(--arrow-width);
    background: var(--primary-color);
    height: var(--arrow-stroke);
    position: relative;
    transition: 0.2s;
  }
  
  .arrow::before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    border: solid var(--secondary-color);
    border-width: 0 var(--arrow-stroke) var(--arrow-stroke) 0;
    display: inline-block;
    top: -3px;
    right: 3px;
    transition: 0.2s;
    padding: 3px;
    transform: rotate(-45deg);
  }
  
  &:hover {
    background-color: var(--hover-color);
  }
  
  &:hover .arrow {
    background: var(--secondary-color);
  }
  
  &:hover .arrow:before {
    right: 0;
  }

}

.menu {
  width: 95%;
  height: 80px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include m.tablet {
    height: 50px;
  }


}

.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include m.tablet {
    width: 100%;
    justify-content: center;
    align-items: center;
  }
}

.container__menu {
  width: 65%;
  height: 100%;
  position: fixed;
  top: 0px;
  right: 0px;
  margin-right: -100%;
  background: #ffffff;
  padding: 40px 30px;
  transition: all 0.5s;
  box-shadow: -1px 0px 20px 0px #303030;
  overflow: hidden;


  @include m.dark{
    background: #212121;
    a{
      color: white;
    }

  }    
  

  @include m.tablet {
    width: auto;
    height: auto;
    display: flex;
    position: initial;
    flex-direction: row;
    column-gap: 10px;
    margin: 0;
    padding: 0;

    box-shadow: none;
  }
}

.mostrar__container-menu {
  margin-right: 0;
}

.block {
  display: block;
}

.none {
  display: none;
  @include m.tablet {
    display: flex;
  }
}

.open__menu {
  font-size: 30px;
  padding: 0 15px 0 0;
  fill: #14213d;

  @include m.tablet {
    display: none !important;
  }
}

.close__menu {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 1.8em;
  font-weight: 600;
  color: v.$rosa-botones;
  @include m.tablet {
    display: none !important;
  }
}

.menu__item {
  padding: 10px 0;
  @include m.tablet {
    padding: 10px;
  }
}

.menu__item-submenu {
  padding: 10px 20px;
  border-radius: 10px 0 10px 0;

  &:hover {
    background: #212121;
  }
}

.menu__link,
.submenu__link {
  text-transform: uppercase;
  font-size: 1.4em;
  font-weight: 400;
  color: #000;

  @include m.tablet {
    font-size: 1em;
  }
}

.submenu__link {
  color: white;
  display: block;
  padding: 10px 0;
}

.submenu {
  width: 150px;
  background: #353535e4;
  transition: all 0.5s;
  border-radius: 10px 0 10px 0;
  height: 0;
  overflow: hidden;

  @include m.tablet {
    height: auto;
    position: absolute;
    visibility: hidden;
    top: 75px;
    opacity: 0;
  }
}

.container__submenu:hover .submenu {
  @include m.tablet {
    opacity: 1;
    visibility: visible;
  }
}

.iniciar__movile {
  padding-top: 100px;

  @include m.tablet {
    display: none;
  }
  p {
    font-size: 1.2em;
    color: #646464;
    line-height: 1.2em;
  }
}

.block__input {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 15px;
  row-gap: 10px;
  padding-top: 10px;
}

.unete {
  padding: 10px 20px;
  color: white;
  background: black;
  border: none;
  border-radius: 30px;
}

.iniciar__secion {
  padding: 10px 20px;
  border: 1px solid rgb(203, 203, 203);
  border-radius: 30px;
}

















/* From uiverse.io by @nikk7007 */
.switch {
  --false: #E14521;
  --true: #00758D;
  margin: 0 40px 0 0;

}
 
 input[type=checkbox] {
  appearance: none;
  height: 2rem;
  width: 3.5rem;
  background-color: #fff;
  position: relative;
  border-radius: .2em;
  cursor: pointer;
  transition: all ease .5s;
  border: 1px solid #979797;
  @include m.dark{
    background: #212121;
  }
 }
 
 input[type=checkbox]::before {
  content: '';
  display: block;
  height: 1.9em;
  width: 1.9em;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: calc(1.9em/2 + .3em);
  background-color: var(--false);
  border-radius: .2em;
  transition: .3s ease;
 }
 
 input[type=checkbox]:checked::before {
  background-color: var(--true);
  left: calc(100% - (1.9em/2 + .3em));
 }