<div class="btn-group" >
  <label
    *ngFor="let swatch of sizeSwatches"
    class="product-swatch product-swatch-color"
    for="sizeSwatches{{ swatch.id }}"
    [class.swatch-active] = "sizeId === swatch.size_id"
    [ngClass]="swatch.stock === 0 ? 'swatch-out-stock' : '' "
  >
    <input 
      required
      class="input-size"
      value="{{ swatch.id }}"
      id="sizeSwatches{{ swatch.id }}"
      autocomplete="off"
      type="radio"
      (click)="sendSizeSwatch(swatch)"
      [ngStyle]="{ display: 'none' }" 
    />

    <span class="size-swatch-arg swatch-info">
      {{ swatch.size_arg }}
 
      <span class="size-swatch-us us-value"> {{ swatch.size_us }} US </span>

    </span>
  </label>

  
</div>
