<app-header></app-header>

<app-banner-running></app-banner-running>

<div class="content">
  <app-latest-releases></app-latest-releases>

  <section class="two-banners">
    <div class="container-two-banners">
      <div class="banner-one banner-two">
        <img
          class="img-banner-two"
          src="./assets/images/banner-one.webp"
          alt=""
        />
      </div>

      <div class="banner-two banner-two">
        <a>
          <img
            class="img-banner-two"
            src="./assets/images/banner-two.webp"
            alt=""
          />
        </a>
      </div>
    </div>
  </section>

  
  <app-featured-products></app-featured-products>

</div>


<app-footer></app-footer>