<div class="container-variations">

  <p>Talles:</p>

  <div class="container-size-variations container-chip">
      <input 
      *ngFor="let size of sizeVariations" 
      class="size-chip chip" 
      type="button" 
      value="{{size.size_arg}}"
      id="{{size.id}}"
      (click)="addChipValue($event)"
      >
  </div>


  <p>Colores:</p>
  <div class="container-color-variations container-chip">
      <input 
      *ngFor="let color of colorVariations" 
      class="color-chip chip" 
      type="button" 
      value="{{color.color_arg}}"
      id="{{color.id}}"
      (click)="addChipValue($event)"
      >
  </div>


  <div class="container-button">
    <button [disabled]="colorVariationsSelect.length === 0 || sizeVariationsSelect.length === 0 " mat-raised-button (click)="sendData()" color="primary"> 
      Guardar
    </button> 

  </div>




</div>