<div class="content">

  <div class="container-title">
    <h2>Dashboard</h2>
    <p>Toda la informacion de tus productos estara por aqui!</p>
  </div>

  <div class="container-acordeon">

    <mat-accordion>
    
      <mat-expansion-panel>
    
        <mat-expansion-panel-header>
    
          <mat-panel-title>
            Nuevo producto
          </mat-panel-title>
     
        </mat-expansion-panel-header>
    
        <app-form-new-product></app-form-new-product>
    
      </mat-expansion-panel>
    
    
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Editar Productos
          </mat-panel-title>

          
        
        </mat-expansion-panel-header>

        <app-list-products-model></app-list-products-model>
 
      </mat-expansion-panel>
    
    </mat-accordion>
    
  </div>
</div>