@use "../../../assets/sass/mixins.scss" as m;
@use "../../../assets/sass/variables.scss" as v;


.container {
  display: grid;
  place-items: center;
  z-index: 1;
  position: relative;
  height: 100vh;
  padding: 0;
  overflow: hidden;

   

  @include m.tablet{
    padding:50px;

  }

}

.left_inputs {
  padding: 20px 10px;
  transition: all 1s;
  background: white;
  border-radius: 25px;  
  box-shadow: #464646 1px 1px 20px 1px ;

  @include m.tablet {
    width: 420px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}



.logo_login {
  width: auto;
  display: grid;
  height: 78px;
  place-items: center;

  img {
    width: 180px;
    height: 78px;
    object-fit: cover;
  }
}

.title_form {
  text-align: center;
  margin: 0 ; 
}

.container_form {
  margin: 30px 0 20px 0;
  padding: 0 20px;
}

.form_login {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 10px;

  @include m.tablet {
    margin: 0 auto;
  }
}

.form_group {
  display: flex;
  flex-direction: column;
}

.inputs_group {
  display: flex;
  column-gap: 10px;
}

.button_submmit {
  @include m.button(v.$rosa-botones);
}

.button_reset-pass {
  @include m.button(v.$azul-botones);
}

.registrate {
  margin-top: 10px;
  text-align: center;
}
#btnRegistrarse{
  cursor:pointer;
  &:hover{
    color: rgb(112, 112, 112);
  }
}

.separador {
  width: 200px;
  margin: 0 auto 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .linea {
    width: 45%;
    height: 1px;
    background: black;
  }
}

.iniciar_ga {
  width: 230px;
  margin: 20px auto auto;

  @include m.tablet {
    margin: 10px auto 0 auto;
  }
}

.container_svg-icon {
  display: flex;
  column-gap: 10px;
  align-items: center;
  padding: 10px;
  border: 1px solid rgba(128, 128, 128, 0.5);
  border-radius: 25px;
  color: v.$gris-textos;

  svg {
    width: 20px;
    height: 20px;
  }
}

.container_desktop {
  display: initial;

  @include m.tablet {
  }
}
















/** ESTILOS REGISTRO*/

.iniciar_session {
  text-align: center;
  margin-top: 8px;
}

.register {
  position: absolute;
  translate: 90%;
}

#container_errors {
  width: 300px;
  text-align: center;
  margin: 20px auto 0;
  padding: 8px 0px;
  
  

}

#container_errors-login {
  width: 300px;
  margin: 0px auto 25px;
  color: red;
  text-align: center;
  
}

.notification-error {
  padding: 5px;
  color: #121212;
  border-radius: 5px;
  background: #c5626298;
}

.notification-succes {
  padding: 5px;
  color: #121212;
  border-radius: 5px;
  background: #6ac56298;
}

/* From uiverse.io by @G4b413l */
.form_group {
  position: relative;
  span {
    color: #999;
    padding-left: 5px;
  }
}

.form_control {
  font-size: 1rem;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 200px;
  border: none;
  border-bottom: 1px solid #515151;
  background: transparent;

  @include m.tablet {
    width: 300px;
  }
}

.form_control:focus {
  outline: none;
}

label {
  color: #999;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

.form_control:focus ~ label,
.form_control:valid ~ label {
  top: -20px;
  font-size: 14px;
  color: v.$rosa-botones;
}

.bar {
  position: relative;
  display: block;
  width: 100%;
}

.bar:before,
.bar:after {
  content: "";
  height: 2px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: v.$rosa-botones;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

.bar:before {
  left: 50%;
}

.bar:after {
  right: 50%;
}

.form_control:focus ~ .bar:before,
.form_control:focus ~ .bar:after {
  width: 50%;
}

.highlight {
  position: absolute;
  height: 60%;
  width: 100px;
  top: 25%;
  left: 0;
  pointer-events: none;
  opacity: 0.5;
}

.form_control:focus ~ .highlight {
  animation: form_controlHighlighter 0.3s ease;
}

@keyframes form_controlHighlighter {
  from {
    background: v.$rosa-botones;
  }

  to {
    width: 0;
    background: transparent;
  }
}
