@use "../../../assets/sass/mixins.scss" as m;
@use "../../../assets/sass/variables.scss" as v;

table {
    width: 100%;
  }
  
  tr.example-detail-row {
    height: 0;
  }
  
  tr.example-element-row:not(.example-expanded-row):hover {
    background: whitesmoke;
  }
  
  tr.example-element-row:not(.example-expanded-row):active {
    background: #efefef;
  }
  
  .example-element-row td {
    border-bottom-width: 0;
  }
  
  .example-element-detail {
    overflow: hidden;
    display: flex;
    column-gap: 20px;
  }
  
  .example-element-diagram {
    border: 2px solid black;
    padding: 8px;
    font-weight: lighter;
    margin: 8px 0;
    width: 25%;
    @include m.tablet{
      min-width: 200px;
      
    }

    img{
      
    }
  }
  
  .example-element-symbol {
    font-weight: bold;
    font-size: 15px;
    line-height: normal;
  }
  
  .example-element-description {
    padding: 16px;
  }
  
  .example-element-description-attribution {
    opacity: 0.5;
  }
  

  .images-galery{
    display: grid;
    place-items:center;


    img{
      margin:0 4px 4px 0;

      display: inline-block;
      min-height: 40px;
      object-fit: cover;
      @include m.tablet{
        margin:0 4px 0 0;

      }
    }

    @include m.tablet{
      text-align: center;
      display: block;

    }

  }

  .image-thumbnail{
    text-align: center;

  }