<mat-form-field>
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
  </mat-form-field>
  
<table mat-table
  [dataSource]="dataSource" multiTemplateDataRows
  class="mat-elevation-z8">
<ng-container matColumnDef="{{column}}" *ngFor="let column of displayedColumns">
<th mat-header-cell *matHeaderCellDef> {{column}} </th>
<td mat-cell *matCellDef="let element"> {{element[column]}} </td>
</ng-container>
<ng-container matColumnDef="expand">
<th mat-header-cell *matHeaderCellDef aria-label="row actions">&nbsp;</th>
<td mat-cell *matCellDef="let element">
 <button mat-icon-button aria-label="expand row" (click)="(expandedElement = expandedElement === element ? null : element); $event.stopPropagation()">
   <mat-icon *ngIf="expandedElement !== element">keyboard_arrow_down</mat-icon>
   <mat-icon *ngIf="expandedElement === element">keyboard_arrow_up</mat-icon>
 </button>
</td>
</ng-container>

<!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
<ng-container matColumnDef="expandedDetail">
<td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplayWithExpand.length">
 <div class="example-element-detail"
      [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
   <div class="example-element-diagram">
     <div class="example-element-position"> {{element.id}} </div> 
     <div class="example-element-symbol"> {{element.title}} </div>
     <div class="example-element-name"> {{element.price | currency }} </div>
     <div class="example-element-name"> {{element.subtitle}} </div>
     <div class="image-thumbnail">
      
       <img width="100px" src="{{element.thumbnail_image}}">   

     </div>
    
      <div class="images-galery"> 
        <img *ngFor="let img of element.detail_images" src="{{img}}" width=50px>
      </div>
    </div>

    <mat-accordion>
    
      <mat-expansion-panel>
    
        <mat-expansion-panel-header>
    
          <mat-panel-title>
            Editar Producto
          </mat-panel-title>
     
        </mat-expansion-panel-header>
    
        <app-form-edit-product-model [id]="element.id" ></app-form-edit-product-model>

    
      </mat-expansion-panel>
    
    
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Crear variaciones del producto
          </mat-panel-title>
        </mat-expansion-panel-header>

          
        
        <app-list-products-model></app-list-products-model>

 
      </mat-expansion-panel>
    
    </mat-accordion>
    

 
 </div>
</td>
</ng-container>

<tr mat-header-row *matHeaderRowDef="columnsToDisplayWithExpand"></tr>
<tr mat-row *matRowDef="let element; columns: columnsToDisplayWithExpand;"
 class="example-element-row"
 [class.example-expanded-row]="expandedElement === element"
 (click)="expandedElement = expandedElement === element ? null : element">
</tr>
<tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
</table>
