<div class="container-images-comp">

  <div class="container-image-full">

    <lib-ngx-image-zoom 
      [thumbImage]="imageUrl"
      [fullImage]="imageUrl"
      [magnification]="1"
      [enableScrollZoom]="true"
      [enableLens]="true"
      [lensWidth]="280"
      [lensHeight]="150"
      (imagesLoaded)="imagesLoaded($event)"

    > 
    </lib-ngx-image-zoom>

  </div>

  <ul class="contanier-images-list">
    <li
      *ngFor="let image of dataProduct.detail_images"
      class="image-preview"
      (click)="setImage(image)"
      [class.image-preview-active] = "image === imageUrl">

      <img class="image-mini" src="{{ image }}" width="70px" alt="" />
    
    </li>
  </ul>
</div> 
